.header {
  background-color: cadetblue;
  height: 10%;

  flex-basis: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  box-sizing: border-box;
}

.h1-invisible {
  position: absolute;
  display: none;
}

.optimax-logo {
  background: url("../assets/img/header-logo.png") no-repeat center / contain;
  height: 50px;
  width: 150px;
}

.optimax-logo-header {
  flex-basis: 20%;
}